<div ng-controller="prikbord">
    <div class="container" id="Prikbord">
        <h1>Prikbord</h1>
    </div>



    <div class="background-Prikbord">
        <div id="dataPost" class="grid-container-Prikbord">
            <div ng-repeat="x in data">
                <div class="polaroid">
                    <img class="imagePolaroid" src="{{x.imgScr}}" alt="5 Terre">
                    <div class="container-Polaroid">
                        <p>{{x.name}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!--<div class="background-Prikbord">
        <div class="container ">
            <div id="dataPost" class="grid-container-Prikbord ">

                <div class="grid-item-Prikbord" ng-repeat="x in data">
                    <div class="grid-container-PB-Image">
                        <div class="grid-item-PB-Image"><img class="grid-item-PB-Image-Style" src="{{x.imgScr}}">
                        </div>
                        <div class="grid-item-PB-Text">{{x.name}}</div>
                    </div>
                </div>

            </div>

        </div>
    </div>-->