<!-- Slide -->
<div class="slider">
    <ul class="slides">
        <li>
            <img src="/static/images/Demo/OmslagTok.jpg">
            <div class="caption center-align">
                <h3>Onze tok de wereld rond</h3>
            </div>
        </li>
        <li>
            <img src="/static/images/Demo/1.jpg">
            <div class="caption center-align">
                <h3></h3>
            </div>
        </li>
        <li>
            <img src="/static/images/Demo/2.jpg">
            <div class="caption center-align">
                <h3></h3>

            </div>
        </li>
        <li>
            <img src="/static/images/Demo/3.jpg">
            <div class="caption center-align">
                <h3></h3>
            </div>
        </li>
    </ul>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('.slider').slider({
            full_width: true
        });

    });
</script>

<!--Dashboard-->

<div class="container" id="TotaleAfstand">
    <h1>Dashboard</h1>
    <div class="grid-container-home">
        <div class="grid-item-home"></div>
        <div ng-controller="dashboard" class="grid-item-home">
            <!--Dashboard km teller-->
            <div class="grid-container-KM">
                <div class="grid-item-KM">
                    <p id="km100000">{{km100000}}</p>
                </div>
                <div class="grid-item-KM">
                    <p id="km10000">{{km10000}}</p>
                </div>
                <div class="grid-item-KM">
                    <p id="km1000">{{km1000}}</p>
                </div>
                <div class="grid-item-KM">
                    <p id="km100">{{km100}}</p>
                </div>
                <div class="grid-item-KM">
                    <p id="km10">{{km10}}</p>
                </div>
                <div class="grid-item-KM">
                    <p id="km1">{{km1}}</p>
                </div>
                <div class="grid-item-KM">
                    <p>km</p>
                </div>
            </div>
        </div>

        <div class="grid-item-home"></div>
    </div>



    <div class="">
        <p>De tok legt jaarlijk heel wat kilometers af. Op de kilometerteler is te zien hoeveel kilometer de tok totaal
            aflegde.</p>

        <p>Wenst u de afstand te zien van een andere jaar? Maak een keuze:</p>

        <label for="cars">kies een jaartal:</label>
        <select name="cars" id="cars">
            <option value="audi">2021</option>
            <option value="volvo">2020</option>
            <option value="saab">2019</option>
            <option value="opel">2018</option>
        </select>
    </div>

</div>
</div>