<div class="container">
    <h1>INFO</h1>
</div>

<div class="container">
    <h4>Data invoegen</h4>
    <p>Vul de laatste rij in en klik vervolgens op <i class="material-icons">group_add</i></p>

    <h4>Data aanpassen</h4>
    <p>Klik in de tabel op <i class="material-icons">edit</i> en ga naar de laatste rij. Nu kunnen de velden
        aangepast worden.<br>
        Bevestig de aanpassingen door op <i class="material-icons green-text">done</i> te klikken.</p>
        <br>
        Of verwerp de aanpassingen -> klik op <i class="material-icons orange-text">refresh</i>

    <h4>Data wissen</h4>
    <p>Klik in de tabel op <i class="material-icons materialize-red-text">delete</i></p>

    <h4>Data opslaan</h4>
    <p>De nieuwe of aangepaste data is nu nog niet opgeslaan in de database. Druk op de knop "<i
            class="material-icons">save</i> OPSLAAN NAAR DATABASE". </p>

    <h4>Data downloaden</h4>
    <p>klik op de knop download om de huidige database te downloaden. Dit bestand kan dienen als backup.</p>
    </p>
    <br>
    <br>
    <br>
</div>