<div ng-controller="LourdesDBbonden">
  <div class="container" id="Prikbord">
    <h1>Database bonden</h1>
  </div>

  <div class="container">
    <p>
      Op deze pagina kan een bond toegevoed worden aan de database. <br>
      Onderaan de pagina is een formulier terug te vinden.
      <ul>
        <li>bond: voer de naam in van de bond</li>
        <li>weide: kies de weide van de bond</li>
        <li>keuzeprogramma: kies het keuzeprogramma</li>
        <li>index: niet invullen, dit is informatief</li>
      </ul>

      <br><br>
      Als de weide niet zichtbaar is, dan kan een weide aangemaakt worden op de pagina "Database weide".
      <br><br>
      De keuze programma's dienen eerst aangemaakt te worden binnen de pagina "Database keuze programma".
      <br><br>
      Opmerking: als de data bij het inladen niet onmiddellijk zichtbaar is refresh de pagina.
      <br><br>
      download: klik op de knop download om de huidige database te downloaden. Dit bestand kan dienen als backup.
    </p>
  </div>

  <div id="table" class="container">
    <table>
      <tr>
        <th>wijzig</th>
        <th>id</th>
        <th>bond</th>
        <th>weide</th>
        <th>keuzeprogramma</th>
        <th>vertrekplaats</th>
      </tr>
      <tr ng-repeat="x in dataGroepen">
        <td> <a href="#!/databaseBonden#controlpanel" ng-click="editUser(x.id)"
            class="btn waves-effect waves-light col s12">wijzig</a></td>
        <td>{{ x.id }}</td>
        <td>{{ x.bond }}</td>
        <td>{{ x.weide }}</td>
        <td>{{ x.keuzeprogramma }}</td>
        <td>{{ x.vertrekplaats }}</td>

      </tr>
    </table>
  </div>
  <br>
  <br>


  <div class="container" id="controlpanel">
    <form>

      <div class="row">
        <div class="input-field col s6">
          bond: <input type="text" ng-model="bond">
        </div>

        <div class="input-field col s6">
          weide: <select ng-model="selectedWeide" ng-options="x for x in weides"></select>
        </div>


      </div>
      <div class="row">
        <div class="input-field col s6">
          index: <input type="number" ng-model="id">
        </div>

        <div class="input-field col s6">
          vertrekplaats: <input type="text" ng-model="vertrekplaats">
        </div>
        <div class="input-field col s6">
          keuzeprogramma: <select ng-model="keuzeprogramma" ng-options="x for x in selectKeuzeprogramma"></select>
        </div>
      </div>
      <br>
      <br>
      <br>
      <a href="#!/databaseBonden" ng-click="addData()" class="btn waves-effect waves-light col s12">nieuw</a>
      <a href="#!/databaseBonden" ng-click="changeData()" class="btn waves-effect waves-light col s12">wijzig</a>
      <a href="#!/databaseBonden" ng-click="removeData()" class="btn waves-effect waves-light col s12">wis</a>
      <a href="/downloadBondenLourdes" class="btn waves-effect waves-light col s12">download</a>

    </form>
  </div>