<style>
    .image-card {
        max-height: 300px;
        width: auto !important;
        margin-left: auto;
        margin-right: auto;
    }

    .title-card {
        font-size: 20px !important;
    }

    .card-item-Prikbord:active {
    transform: rotate(1deg);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

</style>

<div class="background-Prikbord">
    <div ng-controller="prikbord">
        <div class="container" id="Prikbord">
            <h1>Prikbord</h1>
        </div>


        <div id="LeesMeer" class="container">
            <div class="section">

                <div class="row">
                      <!-- post -->
                    <div class="col s12 m4 l4 card-item-Prikbord" ng-repeat="x in data">
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img class="activator image-card" src="{{x.imgScr}}">
                            </div>
                            <div class="card-content">
                                <span
                                    class="card-title title-card activator grey-text text-darken-4 tekstcamping">{{x.name}}<i
                                        class="material-icons right">more_vert</i></span>
                                <p>
                                    <!--<a href="praktisch.html" class="tekstcamping">Meer info nodig? Klik
                                hier!</a>-->
                                </p>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4 tekstcamping">{{x.name}}<i
                                        class="material-icons right materialize-red-text  tekstcamping">X</i></span>
                                <p class="fontsize1-black">
                                    LAND: {{x.country}} <br>
                                    AFSTAND: {{x.distance}} <br>
                                    DATUM: {{x.date}}
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- einde -->
                </div>
            </div>
        </div>
    </div>



    <!--<div class="background-Prikbord">
        <div class="container ">
            <div id="dataPost" class="grid-container-Prikbord ">

                <div class="grid-item-Prikbord" ng-repeat="x in data">
                    <div class="grid-container-PB-Image">
                        <div class="grid-item-PB-Image"><img class="grid-item-PB-Image-Style" src="{{x.imgScr}}">
                        </div>
                        <div class="grid-item-PB-Text">{{x.name}}</div>
                    </div>
                </div>

            </div>

        </div>
    </div>-->