<!DOCTYPE html>
<html lang="nl">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!-- LOGO -->
  <link rel="icon" type="image/png" href="images/logotok.png">

  <title>database</title>

  <!-- CSS -->
  <link href="/static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="/static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="/static/css/banner.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="/static/css/map.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <script src="/static/js/index.js"></script>
  <script src="dist/svg-pan-zoom.js"></script>
  <script src="/static/js/zoom.js"></script>

  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/vue@1.0.28/dist/vue.js"></script>
  <script src="https://unpkg.com/vuex@1.0.1/dist/vuex.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>

  <script type="text/javascript" src="database.js"></script>
</head>

<body ng-app="databaseTok" ng-controller="database">
  <a href="#" ng-click="logout()" class="btn waves-effect waves-light col s12">uitloggen</a>
  <div id="table" class="container">
    <table>
      <tr>
        <th>Wijzig</th>
        <th>id</th>
        <th>Naam</th>
        <th>Land</th>
        <th>Land vertaling</th>
        <th>Afstand</th>
        <th>Datum</th>
        <th>Afbeelding</th>
      </tr>
      <tr ng-repeat="x in data">


        <td> <a ng-click="editUser(x.id)" class="waves-effect waves-light col s12 material-icons">edit</a>

          <a ng-click="removeData1(x.id)"
            class="materialize-red-text waves-effect waves-light col s12 material-icons">delete</a>
        </td>
        <td>{{ x.id }}</td>
        <td>{{ x.name }}</td>
        <td>{{ x.country }}</td>
        <td>{{ x.countryTanslation }}</td>
        <td>{{ x.distance }}</td>
        <td>{{ x.dateConvert }}</td>
        <td><img src="{{ x.imgScr }}" alt="{{ x.name }}" width="100px"></td>
      </tr>
      <tr class="inputTR">
        <td><a ng-click="addData()" ng-show="done=='nShow'" ng-hide="done=='Show'"
            class="waves-effect waves-light col s12 material-icons">group_add</a>
          <a ng-click="changeData()" ng-show="done=='Show'" ng-hide="done=='nShow'"
            class="green-text waves-effect waves-light col s12 material-icons">done</a>
          <a ng-click="verwerp()" ng-show="done=='Show'" ng-hide="done=='nShow'"
            class="orange-text waves-effect waves-light col s12 material-icons">refresh</a>
        </td>
        <td class="grey-text text-lighten-1">{{id}}</td>
        <td><input type="text" ng-model="name"></td>
        <td><input type="text" ng-model="country"></td>
        <td><input type="text" ng-model="countryTanslation"></td>
        <td><input type="text" ng-model="distance"></td>
        <td><input type="date" ng-model="date"></td>
        <td><input type="text" ng-model="imgScr"></td>
      </tr>
    </table>
  </div>
  <br>
  <br>
  <style>
    .kot {
      height: 100px;
      width: 200px;
      overflow: scroll;
    }
  </style>
  <div class="container" id="controlpanel">
    <div class="kot">
      <ul>
        <li ng-repeat="x in countrysTranslation | filter: countryTanslation">
          {{ x }}
        </li>
      </ul>
    </div>


    <form ref='uploadForm' id='uploadForm' action='/upload' method='post' encType="multipart/form-data">
      <input type="file" name="sampleFile" ng-model="distance" />
      <input type='submit' value='Upload!' />
    </form>



    <a href="#!/databaseBonden" ng-click="saveToDB()" class="btn waves-effect waves-light col s12 material-icons">save
      OPSLAAN NAAR DATABASE</a>
    <a href="/downloadBondenLourdes" class="btn waves-effect waves-light col s12 material-icons">file_download DOWNLOAD
      BESTAND</a>

  </div>







  <footer class="page-footer KSA-blue">
    <div class="footer-copyright">
      <div class="container">
        Made by <a class="brown-text text-lighten-3" href="https://www.ksa.be/werkkringen/ksa-noordzeegouw">KSA
          NZG WERKGROEP MULTIMEDIA</a>
      </div>
  </footer>


</body>

</html>