<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Timeline</title>

    <link href="/css/layout.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://unpkg.com/scrollreveal@3.3.2/dist/scrollreveal.min.js"></script>
    <script src="/js/animation.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
    

</head>

<body ng-app="Timeline" ng-controller="home">
    <select ng-model="selectedBond" ng-options="x.bond for x in selectBond"></select>
    <a href="#" ng-click="bevestig()" class="btn waves-effect waves-light col s12">bevestig</a>
    
    <header>
        <div class="container text-center">
            <h1>Welkome</h1>
            <p>{{bond}}</p>

            <p>Weide: {{dataBond.weide}}</p>
        </div>
    </header>

    <section class="timeline">
        <div class="container">
            <div class="timeline-item">
                <div class="timeline-img"></div>
                <div class="timeline-content js--fadeInLeft">
                    <h2 class="fontsize1-black">Dag 1</h2>
                    <div class="date">20 augustus 2020</div>
                    <p class="fontsize1-black">Vertrek uit eigen bond<br>Startmoment<br>Busreis naar Lourdes</p>
                    <a class="bnt-more" href="javascript:void(0)">More</a>
                </div>
            </div>

            <div class="timeline-item">
                <div class="timeline-img"></div>
                <div class="timeline-content timeline-card js--fadeInRight">
                    <div class="timeline-img-header">
                        <h2 class="fontsize1-black">Dag 2: voormiddag</h2>
                    </div>
                    <div class="date">21 augustus 2020</div>
                    <p class="fontsize1-black">
                        Aankomst en ontbijt  <br>
                    Kampopbouw en groepsfoto</p>
                    <a class="bnt-more" href="javascript:void(0)">More</a>
                </div>
            </div>

            <div class="timeline-item">
                <div class="timeline-img"></div>
                <div class="timeline-content js--fadeInLeft">
                    <div class="timeline-img-header">
                        <h2 class="fontsize1-black">Dag 2: namiddag</h2>
                    </div>
                    <div class="date">21 augustus 2020</div>
                    <p class="fontsize1-black">keuzeprogramma per weide <br>
                        {{weideBond.NM_2108}}
                    </p>
                    <a class="bnt-more" href="javascript:void(0)">More</a>
                </div>
            </div>

            <div class="timeline-item">
                <div class="timeline-img"></div>
                <div class="timeline-content js--fadeInRight">
                    <div class="timeline-img-header">
                        <h2 class="fontsize1-black">Dag 2: avond</h2>
                    </div>
                    <div class="date">21 augustus 2020</div>
                    <p class="fontsize1-black">Activiteiten op de weide.</p>
                    <a class="bnt-more" href="javascript:void(0)">More</a>
                </div>
            </div>

            <div class="timeline-item">
                <div class="timeline-img"></div>
                <div class="timeline-content timeline-card js--fadeInLeft">
                    <div class="timeline-img-header">
                        <h2 class="fontsize1-black">Dag 3: voormiddag</h2>
                    </div>
                    <div class="date">22 AUGUSTUS 2020</div>
                    <p class="fontsize1-black">Activiteiten op de weide Activiteit per weide. <br>
                        {{weideBond.VM_2208}}
                    </p>
                    <a class="bnt-more" href="javascript:void(0)">More</a>
                </div>
            </div>

            <div class="timeline-item">
                <div class="timeline-img"></div>
                <div class="timeline-content timeline-card js--fadeInRight">
                    <div class="timeline-img-header">
                        <h2 class="fontsize1-black">Dag 3: namiddag</h2>
                    </div>
                    <div class="date">22 AUGUSTUS 2020</div>
                    <p class="fontsize1-black">Activiteiten op de weide Activiteit per weide. <br>
                        {{weideBond.NM_2208}}
                    </p>
                    <a class="bnt-more" href="javascript:void(0)">More</a>
                </div>
            </div>

            <div class="timeline-item">
                <div class="timeline-img"></div>
                <div class="timeline-content js--fadeInLeft">
                    <div class="timeline-img-header">
                        <h2 class="fontsize1-black">Dag 3: avond</h2>
                    </div>
                    <div class="date">22 AUGUSTUS 2020</div>
                    <p class="fontsize1-black">Kaarsjeprocessie</p>
                    <a class="bnt-more" href="javascript:void(0)">More</a>
                </div>
            </div>
        </div>

        <div class="timeline-item">
            <div class="timeline-img"></div>
            <div class="timeline-content timeline-card js--fadeInRight">
                <div class="timeline-img-header">
                    <h2 class="fontsize1-black">Dag 4: vroege ochtend</h2>
                </div>
                <div class="date">23 AUGUSTUS 2020</div>
                <p class="fontsize1-black">viering aan de grot</p>
                <a class="bnt-more" href="javascript:void(0)">More</a>
            </div>
        </div>

        <div class="timeline-item">
            <div class="timeline-img"></div>
            <div class="timeline-content js--fadeInLeft">
                <div class="timeline-img-header">
                    <h2 class="fontsize1-black">Dag 4: voormiddag</h2>
                </div>
                <div class="date">23 AUGUSTUS 2020</div>
                <p class="fontsize1-black">Activiteiten op de weide Activiteit per weide. <br>
                    {{weideBond.VM_2308}}
                </p>
                <a class="bnt-more" href="javascript:void(0)">More</a>
            </div>
        </div>

        <div class="timeline-item">
            <div class="timeline-img"></div>
            <div class="timeline-content timeline-card js--fadeInRight">
                <div class="timeline-img-header">
                    <h2 class="fontsize1-black">Dag 4: namiddag</h2>
                </div>
                <div class="date">23 AUGUSTUS 2020</div>
                <p class="fontsize1-black">Activiteiten op de weide Activiteit per weide. <br>
                    {{weideBond.NM_2308}}
                </p>
                <a class="bnt-more" href="javascript:void(0)">More</a>
            </div>
        </div>

        <div class="timeline-item">
            <div class="timeline-img"></div>
            <div class="timeline-content js--fadeInLeft">
                <div class="timeline-img-header">
                    <h2 class="fontsize1-black">Dag 4: avond</h2>
                </div>
                <div class="date">23 AUGUSTUS 2020</div>
                <p class="fontsize1-black">Zangstonde</p>
                <a class="bnt-more" href="javascript:void(0)">More</a>
            </div>
        </div>

        <div class="timeline-item">
            <div class="timeline-img"></div>
            <div class="timeline-content timeline-card js--fadeInRight">
                <div class="timeline-img-header">
                    <h2 class="fontsize1-black">Dag 5: ochtend</h2>
                </div>
                <div class="date">24 AUGUSTUS 2020</div>
                <p class="fontsize1-black">Keuzeprogramma</p>
                <a class="bnt-more" href="javascript:void(0)">More</a>
            </div>
        </div>

        <div class="timeline-item">
            <div class="timeline-img"></div>
            <div class="timeline-content js--fadeInLeft">
                <div class="timeline-img-header">
                    <h2 class="fontsize1-black">Dag 5: namiddag</h2>
                </div>
                <div class="date">24 AUGUSTUS 2020</div>
                <p class="fontsize1-black">Keuzeprogramma</p>
                <a class="bnt-more" href="javascript:void(0)">More</a>
            </div>
        </div>

        <div class="timeline-item">
            <div class="timeline-img"></div>
            <div class="timeline-content timeline-card js--fadeInRight">
                <div class="timeline-img-header">
                    <h2 class="text-camping">Dag 5: avond</h2>
                </div>
                <div class="date">24 AUGUSTUS 2020</div>
                <p class="fontsize1-black">verzoeningsviering</p>
                <a class="bnt-more" href="javascript:void(0)">More</a>
            </div>
        </div>

        <div class="timeline-item">
            <div class="timeline-img"></div>
            <div class="timeline-content js--fadeInLeft">
                <div class="timeline-img-header">
                    <h2 class="text-camping">Dag 6: voormiddag</h2>
                </div>
                <div class="date">25 AUGUSTUS 2020</div>
                <p class="fontsize1-black">Activiteiten op de weide Activiteit per weide. <br>
                    {{weideBond.VM_2508}}
                </p>
                <a class="bnt-more" href="javascript:void(0)">More</a>
            </div>
        </div>

        <div class="timeline-item">
            <div class="timeline-img"></div>
            <div class="timeline-content timeline-card js--fadeInRight">
                <div class="timeline-img-header">
                    <h2 class="text-camping">Dag 6: avond</h2>
                </div>
                <div class="date">25 AUGUSTUS 2020</div>
                <p class="fontsize1-black">Activiteiten op de weide Activiteit per weide. <br>
                    {{weideBond.NM_2508}}
                </p>
                <a class="bnt-more" href="javascript:void(0)">More</a>
            </div>
        </div>

        <div class="timeline-item">
            <div class="timeline-img"></div>
            <div class="timeline-content js--fadeInLeft">
                <div class="timeline-img-header">
                    <h2 class="text-camping">Dag 6: avond</h2>
                </div>
                <div class="date">25 AUGUSTUS 2020</div>
                <p class="fontsize1-black">culturele avond</p>
                <a class="bnt-more" href="javascript:void(0)">More</a>
            </div>
        </div>

        <div class="timeline-item">
            <div class="timeline-img"></div>
            <div class="timeline-content timeline-card js--fadeInRight">
                <div class="timeline-img-header">
                    <h2 class="text-camping">Dag 7: voormiddag</h2>
                </div>
                <div class="date">26 AUGUSTUS 2020</div>
                <p class="fontsize1-black">Activiteiten op de weide Activiteit per weide. <br>
                    {{weideBond.VM_2608}}
                </p>

                <p class="fontsize1-black">waar: {{activiteit_VM_2608.waar}}</p>
                <p class="fontsize1-black">benodigdheden: {{activiteit_VM_2608.benodigdheden}}</p>
                <p class="fontsize1-black">duur: {{activiteit_VM_2608.duur}}</p>
                <p class="fontsize1-black">wat: {{activiteit_VM_2608.beschrijving}}</p>
                <a class="bnt-more" href="javascript:void(0)">More</a>
            </div>
        </div>

        <div class="timeline-item">
            <div class="timeline-img"></div>
            <div class="timeline-content js--fadeInLeft">
                <div class="timeline-img-header">
                    <h2 class="text-camping">Dag 7: namiddag</h2>
                </div>
                <div class="date">26 AUGUSTUS 2020</div>
                <p class="fontsize1-black">Activiteiten op de weide Activiteit per weide. <br>
                    {{weideBond.NM_2608}}
                </p>
                <a class="bnt-more" href="javascript:void(0)">More</a>
            </div>
        </div>

        <div class="timeline-item">
            <div class="timeline-img"></div>
            <div class="timeline-content timeline-card js--fadeInRight">
                <div class="timeline-img-header">
                    <h2 class="text-camping">Dag 7: voormiddag</h2>
                </div>
                <div class="date">25 AUGUSTUS 2020</div>
                <p class="fontsize1-black">slotviering en feestavond</p>
                <a class="bnt-more" href="javascript:void(0)">More</a>
            </div>
        </div>

        <div class="timeline-item">
            <div class="timeline-img"></div>
            <div class="timeline-content js--fadeInLeft">
                <div class="timeline-img-header">
                    <h2 class="text-camping">Dag 8: ochtend</h2>
                </div>
                <div class="date">27 AUGUSTUS 2020</div>
                <p class="fontsize1-black">kampafbraak</p>
                <a class="bnt-more" href="javascript:void(0)">More</a>
            </div>
        </div>

        <div class="timeline-item">
            <div class="timeline-img"></div>
            <div class="timeline-content timeline-card js--fadeInRight">
                <div class="timeline-img-header">
                    <h2 class="text-camping">Dag 8: voormiddag</h2>
                </div>
                <div class="date">27 AUGUSTUS 2020</div>
                <p class="fontsize1-black">kampafbraak <br>slotmoment<br>vertrek</p>
                <a class="bnt-more" href="javascript:void(0)">More</a>
            </div>
        </div>

        <div class="timeline-item">
            <div class="timeline-img"></div>
            <div class="timeline-content js--fadeInLeft">
                <div class="timeline-img-header">
                    <h2 class="text-camping">Dag 8: ochtend</h2>
                </div>
                <div class="date">27 AUGUSTUS 2020</div>
                <p class="fontsize1-black">busrit</p>
                <a class="bnt-more" href="javascript:void(0)">More</a>
            </div>
        </div>

        <div class="timeline-item">
            <div class="timeline-img"></div>
            <div class="timeline-content timeline-card js--fadeInRight">
                <div class="timeline-img-header">
                    <h2 class="text-camping">Dag 8: voormiddag</h2>
                </div>
                <div class="date">28 AUGUSTUS 2020</div>
                <p class="fontsize1-black">Aankomst in eigen bond (in de vroege voormiddag)</p>
                <a class="bnt-more" href="javascript:void(0)">More</a>
            </div>
        </div>






        </div>
    </section>
    <script type="text/javascript" src="linkData.js"></script>


</body>

</html>